@model List<Book>

    <a asp-controller="Book" asp-action="Add" class="btn btn-primary" >Kitap ekle</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ad</th>
                <th>ISBN</th>
                <th>Yazarlar</th>
                <th>YayınEvleri</th>
                <th>Categori</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Book book in Model)
        {
            <tr>
                <td>@book.Name</td>
                <td>@book.ISBM</td>
                <td>
                @foreach (var item in book.Authors)
                {
                    @item.Name<br />
                }
                </td>
                <td>
                    @foreach (var item in book.Publishers)
                    {
                        @item.Name<br />
                    }
                </td>
                 <td >@book.Category.Name</td> 
                <td> <a class="btn btn-danger" asp-action="Delete" asp-controller="Book" asp-route-id="@book.Id">Sil </a>
                <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-success">Düzenle</a>
                </td>
            </tr>
        }
        </tbody>
    </table>